<p>
  apply-leave works!
</p>
<body>
  <h1 style= "color:rgb(12, 170, 233);text-align:center;"><b>APPLY LEAVE</b> </h1>
<div style="text-align:center">
      <form #userForm="ngForm" (ngSubmit)="applyLeave(userForm)">
      <div class="form-group">
             
          <label for= "leavesdate"><b><font size="4">Start Date :</font></b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="Date" required="required" [(ngModel)]="model.leavesdate" name="leavesdate" #leavesdate="ngModel"  >  
          <div *ngIf="leavesdate.invalid && userForm.submitted && !isValidFormSubmitted"  [ngClass] = "'error'"> 
                <h6>Start Date is Required.</h6>
               </div>
      </div>
      <div class= "form-group">
              <label for= "leaveedate"><b><font size="4">End Date :</font>&nbsp;</b> </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type = "Date" class= "form-control"
              id = "leaveedate" required="required"
              [(ngModel)]= "model.leaveedate" name="leaveedate" #leaveedate="ngModel" (change)="calculateDays()">
              <div *ngIf="leaveedate.invalid && userForm.submitted && !isValidFormSubmitted"  [ngClass] = "'error'"> 
                     <h6>End Date is Required.</h6> 
                    </div>
          </div>
          <div class="form-group">
                  <label for="leavetype"><b><font size="4">Leave Type :</font></b></label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <select [(ngModel)]="model.leavetype" name="leavetype" required="required" #leavetype="ngModel">
                      <option value="EL">EL</option>
                      <option value="SL">SL</option>
                      <option value="ML">ML</option>
                  </select>
          </div>
          <div class= "form-group">
                  <label for= "leavendays"><b><font size="4">Number of Days :</font></b> </label>
                  <input type = "number" class= "form-control" readonly
                  id = "leavendays" required="required"
                  [(ngModel)]= "model.leavendays" name="leavendays" #leavendays="ngModel" >
                  <div *ngIf="leavendays.invalid && userForm.submitted && !isValidFormSubmitted"  [ngClass] = "'error'"> 
                          <h6>Leave Days is Required.</h6> 
                         </div>
              </div>
          <div class= "form-group">
                  <label for= "leavereason"><b><font size="4">Leave Reason :</font> </b></label>&nbsp;&nbsp;&nbsp;
                  <input type = "string" class= "form-control" size="30"
                  id = "leavereason" required="required"
                  [(ngModel)]= "model.leavereason" name="leavereason" #leavereason="ngModel">
                  <div *ngIf="leavereason.invalid && userForm.submitted && !isValidFormSubmitted"  [ngClass] = "'error'"> 
                          <h6>Reason is Required.</h6> 
                         </div>
              </div>
              <button class=button>Apply</button>
              <input type="button" class="button" value="Cancel" (click)="cancel()">
              <h3 *ngIf="isValidFormSubmitted == true">STATUS: {{this.msg}}</h3>
      </form>
  </div>
  
</body>

