<h2 align= center>
  Employee Details
</h2>
<h3>Employ no : {{ (employees | async)?.empId}}</h3>
<h3>Employ name : {{ (employees | async)?.empName}}</h3>
<h3>Employ department : {{ (employees | async)?.empDept}}</h3>
<h3>Employ email : {{ (employees | async)?.empEmail}}</h3>
<h3>Employ mobile number : {{ (employees | async)?.empMob}}</h3>
<h3>Employ date of joining : {{ (employees | async)?.empDoj}}</h3>
<h3>Employ leave balance : {{ (employees | async)?.empLeavbal}}</h3>
<h3>Employ manager id : {{ (employees | async)?.empMgrid}}</h3>
